@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<TokenBased.Models.User>

@{
    Layout = "~/Pages/Shared/_layoutCustom.cshtml";
    ViewData["Title"] = "Index";
}


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div>
    <h1>
        Confidential Information
    </h1>
</div>
<div>
    @if (Model is null || Model.Count == 0)
    {
        <div>No data available</div>
    }
    else
    {
        <div>
            <table class="table table-hover table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            User Id
                        </th>
                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.UserId
                            </td>
                            <td>
                                @item.FirstName
                            </td>
                            <td>
                                @item.LastName
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
